# 2024-03-06 37 - Estimating more precise constraint levels -- Koopa.ipynb
---
Fork of NB 17 to get the epsilons for patch tst on electricity, weather, exchange per `(dataset,model,pred_len)`

## Fetching runs

In [2]:
import sys
import os
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), os.pardir)))
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
from IPython.display import display, Markdown, Latex
from utils import wandb_utils

In [4]:
from utils import wandb_utils
df = wandb_utils.get_experiment_data("Autoformer","alelab",experiment_tags=[],query_dict={"$and": [
                        {"tags": {"$in": ["e22_icml_koopa_erm"]}},
                        {"state": "finished"},
]})

Exception ignored in: <function tqdm.__del__ at 0x7fc03cac3a70>
Traceback (most recent call last):
  File "/home/jporras/miniconda3/envs/autoformer/lib/python3.7/site-packages/tqdm/std.py", line 1149, in __del__
    self.close()
  File "/home/jporras/miniconda3/envs/autoformer/lib/python3.7/site-packages/tqdm/std.py", line 1268, in close
    if self.disable:
AttributeError: 'tqdm' object has no attribute 'disable'
  0%|          | 0/12 [00:00<?, ?it/s]

WARNING!! Missing pointwise/cvar/0.01 in run xkzhnn0a on sweep <Sweep alelab/Autoformer/r7jdprgq (FINISHED)>. Filling all poitwisewith NAN.

  8%|▊         | 1/12 [00:11<02:05, 11.45s/it]

WARNING!! Missing pointwise/cvar/0.01 in run ly1h1ke1 on sweep <Sweep alelab/Autoformer/r7jdprgq (FINISHED)>. Filling all poitwisewith NAN.

 17%|█▋        | 2/12 [00:16<01:18,  7.86s/it]

WARNING!! Missing pointwise/cvar/0.01 in run jrty0i41 on sweep <Sweep alelab/Autoformer/r7jdprgq (FINISHED)>. Filling all poitwisewith NAN.

 25%|██▌       | 3/12 [00:19<00:51,  5.67s/it]

WARNING!! Missing pointwise/cvar/0.01 in run a1vmqwvt on sweep <Sweep alelab/Autoformer/r7jdprgq (FINISHED)>. Filling all poitwisewith NAN.

 33%|███▎      | 4/12 [00:21<00:32,  4.04s/it]

WARNING!! Missing pointwise/cvar/0.01 in run y9e7oryb on sweep <Sweep alelab/Autoformer/g8e3pqrl (FINISHED)>. Filling all poitwisewith NAN.

 42%|████▏     | 5/12 [00:33<00:47,  6.77s/it]

WARNING!! Missing pointwise/cvar/0.01 in run b9vnvxfa on sweep <Sweep alelab/Autoformer/g8e3pqrl (FINISHED)>. Filling all poitwisewith NAN.

 50%|█████     | 6/12 [00:38<00:37,  6.29s/it]

WARNING!! Missing pointwise/cvar/0.01 in run 58y9q9rn on sweep <Sweep alelab/Autoformer/g8e3pqrl (FINISHED)>. Filling all poitwisewith NAN.

 58%|█████▊    | 7/12 [00:41<00:26,  5.23s/it]

WARNING!! Missing pointwise/cvar/0.01 in run 5llexpc4 on sweep <Sweep alelab/Autoformer/g8e3pqrl (FINISHED)>. Filling all poitwisewith NAN.

 67%|██████▋   | 8/12 [00:42<00:16,  4.05s/it]

WARNING!! Missing pointwise/cvar/0.01 in run 2hmlmqgc on sweep <Sweep alelab/Autoformer/chywmkhs (FINISHED)>. Filling all poitwisewith NAN.

 75%|███████▌  | 9/12 [00:54<00:19,  6.43s/it]

WARNING!! Missing pointwise/cvar/0.01 in run 7h91vf4i on sweep <Sweep alelab/Autoformer/chywmkhs (FINISHED)>. Filling all poitwisewith NAN.

 83%|████████▎ | 10/12 [00:59<00:12,  6.10s/it]

WARNING!! Missing pointwise/cvar/0.01 in run 3wpwzvo2 on sweep <Sweep alelab/Autoformer/chywmkhs (FINISHED)>. Filling all poitwisewith NAN.

 92%|█████████▏| 11/12 [01:03<00:05,  5.17s/it]

WARNING!! Missing pointwise/cvar/0.01 in run 11z2j90d on sweep <Sweep alelab/Autoformer/chywmkhs (FINISHED)>. Filling all poitwisewith NAN.

100%|██████████| 12/12 [01:04<00:00,  5.38s/it]

Fetched 12 runs
Total records: (12096, 115)
Total runs: 12

In [6]:
df[['run_id',"sweep_id",'Algorithm',"type",'model','data_path','constraint_level','pred_len']].drop_duplicates().sort_values(['model',"pred_len","constraint_level"])

,run_id,sweep_id,Algorithm,type,model,data_path,constraint_level,pred_len
3744,a1vmqwvt,r7jdprgq,AllModels_exchange_rate.csv Koopa,ERM,Koopa,exchange_rate.csv,-1,96
7776,5llexpc4,g8e3pqrl,AllModels_electricity.csv Koopa,ERM,Koopa,electricity.csv,-1,96
11808,11z2j90d,chywmkhs,AllModels_weather.csv Koopa,ERM,Koopa,weather.csv,-1,96
3168,jrty0i41,r7jdprgq,AllModels_exchange_rate.csv Koopa,ERM,Koopa,exchange_rate.csv,-1,192
7200,58y9q9rn,g8e3pqrl,AllModels_electricity.csv Koopa,ERM,Koopa,electricity.csv,-1,192
11232,3wpwzvo2,chywmkhs,AllModels_weather.csv Koopa,ERM,Koopa,weather.csv,-1,192
2160,ly1h1ke1,r7jdprgq,AllModels_exchange_rate.csv Koopa,ERM,Koopa,exchange_rate.csv,-1,336
6192,b9vnvxfa,g8e3pqrl,AllModels_electricity.csv Koopa,ERM,Koopa,electricity.csv,-1,336
10224,7h91vf4i,chywmkhs,AllModels_weather.csv Koopa,ERM,Koopa,weather.csv,-1,336
0,xkzhnn0a,r7jdprgq,AllModels_exchange_rate.csv Koopa,ERM,Koopa,exchange_rate.csv,-1,720
4032,y9e7oryb,g8e3pqrl,AllModels_electricity.csv Koopa,ERM,Koopa,electricity.csv,-1,720
8064,2hmlmqgc,chywmkhs,AllModels_weather.csv Koopa,ERM,Koopa,weather.csv,-1,720

# Get IQR for all models, and pred lengths, datasets
Note that the IQRs are vastly different for autoformer and reformer.

# Validation percentiles

In [7]:
stats=df.query("split=='val'").groupby(['data_path','model','pred_len'])['mse'].describe().reset_index()
stats[['data_path','model','pred_len','25%','50%','75%','mean','std']].sort_values(['data_path','pred_len','model'])

,data_path,model,pred_len,25%,50%,75%,mean,std
0,electricity.csv,Koopa,96,0.136092,0.148292,0.151088,0.143456,0.012284
1,electricity.csv,Koopa,192,0.153709,0.160260,0.165018,0.159295,0.015898
2,electricity.csv,Koopa,336,0.155877,0.172274,0.195686,0.175415,0.023107
3,electricity.csv,Koopa,720,0.195079,0.216589,0.233934,0.208903,0.031462
4,exchange_rate.csv,Koopa,96,0.081671,0.140302,0.189184,0.134967,0.065860
5,exchange_rate.csv,Koopa,192,0.144598,0.256140,0.319671,0.229658,0.104010
6,exchange_rate.csv,Koopa,336,0.245262,0.428554,0.556709,0.404526,0.195677
7,exchange_rate.csv,Koopa,720,0.734752,1.204275,1.566225,1.246021,0.728431
8,weather.csv,Koopa,96,0.360262,0.418926,0.449758,0.392077,0.079072
9,weather.csv,Koopa,192,0.421832,0.488360,0.517442,0.461272,0.086536
10,weather.csv,Koopa,336,0.488578,0.562717,0.629846,0.545341,0.111644
11,weather.csv,Koopa,720,0.569464,0.716466,0.786879,0.668021,0.137859

## Train percentiles

In [8]:
stats=df.query("split=='train'").groupby(['data_path','model','pred_len'])['mse'].describe().reset_index()
stats[['data_path','model','pred_len','25%','50%','75%','mean','std']].sort_values(['data_path','pred_len','model'])

,data_path,model,pred_len,25%,50%,75%,mean,std
0,electricity.csv,Koopa,96,0.142321,0.159699,0.166171,0.154833,0.014624
1,electricity.csv,Koopa,192,0.172336,0.182531,0.190022,0.180779,0.020266
2,electricity.csv,Koopa,336,0.182495,0.201062,0.232236,0.204778,0.028985
3,electricity.csv,Koopa,720,0.227465,0.264415,0.297168,0.254934,0.046529
4,exchange_rate.csv,Koopa,96,0.054237,0.101376,0.150881,0.103070,0.056770
5,exchange_rate.csv,Koopa,192,0.107193,0.208419,0.307021,0.206498,0.114218
6,exchange_rate.csv,Koopa,336,0.200848,0.350350,0.491916,0.347897,0.181244
7,exchange_rate.csv,Koopa,720,0.318977,0.720859,1.081090,0.712574,0.412977
8,weather.csv,Koopa,96,0.355696,0.418157,0.453435,0.394706,0.076531
9,weather.csv,Koopa,192,0.422177,0.480441,0.516229,0.461632,0.084329
10,weather.csv,Koopa,336,0.467589,0.550743,0.603539,0.522354,0.096984
11,weather.csv,Koopa,720,0.564234,0.645469,0.682338,0.609144,0.101101